@import 'tailwindcss';

body {
    font-family: var(--font-main);
}

@theme {
    --font-main: 'Inter', sans-serif;
    --font-second: 'Lato', sans-serif;

    --color-light: #f5f7fa;
    --color-accent: #1814f3;
    --color-sidebar: #b1b1b1;
    --color-base: #343c6a;
    --color-border: #e6eff5;
    --color-dark: #232323;
    --color-board: #718ebf;
    --color-success: #41d4a8;
    --color-error: #ff4b4a;

    --radius-base: 15px;
}

:focus-visible {
    outline-color: var(--color-accent);
}

.radius-base {
    border-radius: 25px;
}

.fade-enter-active,
.fade-leave-active {
    transition:
        transform 0.5s ease,
        opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    transform: translateY(10px);
}

@media (max-width: 1024px) {
    .radius-base {
        border-radius: 20px;
    }
}

@media (max-width: 768px) {
    .radius-base {
        border-radius: 15px;
    }
}

.scrollable {
    scrollbar-width: thin;
    scrollbar-color: #718ebf #fff;
}

.scrollable::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #718ebf;
    border-radius: 6px;
    border: 3px solid #eee;
}

.scrollable::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 6px;
}
